<ion-header>
  <ion-navbar>
    <ion-title>
      Feed
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let feedItem of feedItems" (click)="openFull(feedItem)">
    <img ng-if="feedItem.hasOwnProperty(imgSrc)" src="{{feedItem.imgSrc}}">
    <ion-card-header>
      {{feedItem.access}}
    </ion-card-header>
    <ion-card-content>
      {{feedItem.access}}
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
