<ion-menu id="leftMenu" [content]="content" type="overlay">
    <ion-header>
        <ion-toolbar>
            <ion-title>Raffles Reads</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-list-header *ngIf="auth.getEmail()">{{auth.getEmail()}}</ion-list-header>
            <ion-item (click)="signOut()" *ngIf="auth.authenticated">
                <ion-icon name="log-out" item-left></ion-icon>
                Sign out
            </ion-item>
            <ion-item (click)="signIn()" *ngIf="!auth.authenticated">
                <ion-icon name="log-in" item-left></ion-icon>
                Sign in
            </ion-item>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Pages
          </ion-list-header>
          <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{p.title}}
          </button>
        </ion-list>

        <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
